<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560651745015-4t443tah4oe2adgq01o8h40g5g7peibr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560651745015-4t443tah4oe2adgq01o8h40g5g7peibr</string>
	<key>API_KEY</key>
	<string>AIzaSyAwxk6l8Nbe-FCnwILt1l4r5Jjq61DF59I</string>
	<key>GCM_SENDER_ID</key>
	<string>560651745015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>cero-5bfd9</string>
	<key>STORAGE_BUCKET</key>
	<string>cero-5bfd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560651745015:ios:044dec491464e4a1dbc5f2</string>
	<key>DATABASE_URL</key>
	<string>https://cero-5bfd9-default-rtdb.firebaseio.com</string>
</dict>
</plist>